[submodule "hw-design/lib/mod-kicad-footprints"]
	path = hw-design/lib/mod-kicad-footprints
	url = https://github.com/portalmod/mod-kicad-footprints.git
[submodule "hw-design/lib/kicad-library"]
	path = hw-design/lib/kicad-library
	url = git@github.com:KiCad/kicad-library.git
[submodule "hw-design/lib/Capacitors_SMD.pretty"]
	path = hw-design/lib/Capacitors_SMD.pretty
	url = git@github.com:KiCad/Capacitors_SMD.pretty.git
[submodule "hw-design/lib/Diodes_SMD.pretty"]
	path = hw-design/lib/Diodes_SMD.pretty
	url = git@github.com:KiCad/Diodes_SMD.pretty.git
[submodule "hw-design/lib/LEDs.pretty"]
	path = hw-design/lib/LEDs.pretty
	url = git@github.com:KiCad/LEDs.pretty.git
[submodule "hw-design/lib/Connect.pretty"]
	path = hw-design/lib/Connect.pretty
	url = git@github.com:KiCad/Connect.pretty.git
[submodule "hw-design/lib/Pin_Headers.pretty"]
	path = hw-design/lib/Pin_Headers.pretty
	url = git@github.com:KiCad/Pin_Headers.pretty.git
[submodule "hw-design/lib/Housings_SOT-23_SOT-143_TSOT-6.pretty"]
	path = hw-design/lib/Housings_SOT-23_SOT-143_TSOT-6.pretty
	url = git@github.com:KiCad/Housings_SOT-23_SOT-143_TSOT-6.pretty.git
[submodule "hw-design/lib/Resistors_SMD.pretty"]
	path = hw-design/lib/Resistors_SMD.pretty
	url = git@github.com:KiCad/Resistors_SMD.pretty.git
[submodule "hw-design/lib/Buttons_Switches_SMD.pretty"]
	path = hw-design/lib/Buttons_Switches_SMD.pretty
	url = git@github.com:KiCad/Buttons_Switches_SMD.pretty.git
[submodule "hw-design/lib/SMD_Packages.pretty"]
	path = hw-design/lib/SMD_Packages.pretty
	url = git@github.com:KiCad/SMD_Packages.pretty.git
[submodule "hw-design/lib/Housings_SOIC.pretty"]
	path = hw-design/lib/Housings_SOIC.pretty
	url = git@github.com:KiCad/Housings_SOIC.pretty.git
[submodule "hw-design/lib/Housings_QFP.pretty"]
	path = hw-design/lib/Housings_QFP.pretty
	url = git@github.com:KiCad/Housings_QFP.pretty.git
[submodule "hw-design/lib/Crystals.pretty"]
	path = hw-design/lib/Crystals.pretty
	url = git@github.com:KiCad/Crystals.pretty.git
[submodule "hw-design/lib/Display.pretty"]
	path = hw-design/lib/Display.pretty
	url = git@github.com:KiCad/Display.pretty.git
